<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>juego de memoria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFAA81271BF98E10007537F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFAA81401BF98E10007537F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFAA814B1BF98E10007537F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
